.container.mb-5
  .row
    .col-11.col-md-9.text-center.pb-2.m-auto
      .page-title
        .d-flex.align-items-end.text-main
          %h5.text-center.text-md-start.fw-bold.mb-0 FAQ

  .row
    .col-10.col-md-8.m-auto.px-0.text-main
      #faq
        .faq-category
          %h5
            %i.fa-solid.fa-circle-question.fs-sm
            アカウント登録について
          %ul.faq-list
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 成績を記録済みのプレイヤーがアカウント登録する場合、成績を引き継いでアカウント登録する方法はありますか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 「その他」→「アカウント招待」より登録したいプレイヤーを招待してください

        .faq-category
          %h5
            %i.fa-solid.fa-circle-question.fs-sm
            プレイヤーについて
          %ul.faq-list
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 同じプレイヤー名で登録しても良いですか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 問題ございません。ただプレイヤー選択にて混同しないように異なるプレイヤー名とすることを推奨します。

            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 作成したプレイヤーの削除は可能ですか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text できません。（今後実装予定）
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 作成したプレイヤーの名前の変更は可能ですか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text できません。（今後実装予定）

        .faq-category
          %h5
            %i.fa-solid.fa-circle-question.fs-sm
            ポイント計算について
          %ul.faq-list
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 点数計算(小数点有効・五捨六入・四捨五入・切り捨て・切り上げ)の詳しい計算方法について教えてください
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text
                    .span.subtitle < 小数点有効 >
                    .span ・小数点はそのままで計算しません
                    .span.subtitle < 五捨六入 >
                    .span ・5以下切り捨て、6以上切り上げ
                    .span   (ex: 25500 → 25000として計算、-1500 → -1000として計算)
                    .span.subtitle < 四捨五入 >
                    .span ・4以下切り捨て、5以上切り上げ
                    .span   (ex: 25500 → 26000として計算、-1500 → -2000として計算)
                    .span.subtitle < 切り捨て >
                    .span ・小数点は切り捨てます
                    .span   (ex: 25500 → 25000として計算、-1500 → -1000として計算)
                    .span.subtitle < 切り上げ >
                    .span ・小数点は切り上げます
                    .span   (ex: 25500 → 26000として計算、-1500 → -2000として計算)


            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 得点が同点の場合、ポイント(pt)はどのように計算されますか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text
                    同点の場合、入力されている「家」が上家であるプレイヤーの方が順位が上と判定してポイントを計算します。
                    （例えば南家と西家のプレイヤーが同点であれば、南家のプレイヤーが上位です）
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 飛び賞は計算されますか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 計算されません。ptを手動で修正してください。

        .faq-category
          %h5
            %i.fa-solid.fa-circle-question.fs-sm
            リーグ戦について
          %ul.faq-list
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text リーグ情報(リーグ名など)を編集したい
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 「リーグ一覧」→ 編集したいリーグの「成績」ボタンからリーグ詳細画面へ遷移し、リーグ名の右横にあるボタンから編集してください。（リーグの編集ができるのはリーグ主催者のみです）
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text リーグ作成後にプレイヤー・ルールを変更したい
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text リーグ作成後のプレイヤー・ルール変更はできません。新しくリーグを作成して正しいプレイヤーとルールを選択してください。
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q. 5人以上のリーグを作成したい
                  .q-text
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 5人以上のリーグは作成できない仕様です。（今後実装するかも）