.container
  .row
    .col-11.col-md-9.text-center.pb-2.m-auto
      .page-title
        .d-flex.align-items-end.text-main
          %h5.text-center.text-md-start.fw-bold.mb-0 FAQ

  .row
    .col-10.col-md-8.m-auto.px-0.text-main
      #faq
        .faq-category
          %h5
            %i.fa-solid.fa-circle-question.fs-sm
            アカウント登録
          %ul.faq-list
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 既に記録があるプレイヤーをアカウント登録できますか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 「その他」→「アカウント招待」より登録したいプレイヤーを招待してください

        .faq-category
          %h5
            %i.fa-solid.fa-circle-question.fs-sm
            プレイヤー
          %ul.faq-list
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 同じプレイヤー名で登録しても良いですか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 問題ございません。ただプレイヤー選択にて混同しないよう異なるプレイヤー名とすることを推奨します。

            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q. 
                  .q-text 自分が作成したプレイヤーの削除は可能ですか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text できません。

        .faq-category
          %h5 
            %i.fa-solid.fa-circle-question.fs-sm
            対局成績
          %ul.faq-list
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 得点が同点の場合、ポイント(pt)はどう計算されますか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 入力されている「家」に応じて順位点が付与されポイントが計算されます。
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 飛び賞は計算されますか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 計算されません。ptを手動で入力してください。
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q.
                  .q-text 成績の編集・削除はどのプレイヤーができますか
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text 成績を編集・削除できるのは記録者のみです。

        .faq-category
          %h5
            %i.fa-solid.fa-circle-question.fs-sm
            リーグ戦
          %ul.faq-list
            %li.faq-item
              .faq-question
                .qa-flex
                  %span Q. 
                  .q-text リーグ戦のプレイヤーを変更・追加したい
                %span.fa.fa-chevron-down
              .faq-answer
                .qa-flex
                  %span A.
                  .a-text リーグ戦のプレイヤーは対局形式（三麻・四麻）に応じて3~4人となっています。リーグ作成後のプレイヤー変更はできません。