.container
  .row.d-flex.justify-content-center.text-main
    .col-12.col-md-10.col-lg-7.text-center.pb-2
      .page-title
        .d-flex.align-items-end
          %h4.text-center.text-md-start.text-nowrap.fw-bold.mb-0 成績表一覧
          %p.mb-0.ms-2.fs-sm.fw-bold=current_player.name
    .col-12.col-md-9.col-lg-7.m-auto
      #toggle-buttons
        %button.mb-2#toggle-to-four-mg{ type: "button", class: "active" } 四人麻雀
        %button.mb-2#toggle-to-three-mg{ type: "button" } 三人麻雀
      .mg-container
        =render 'match_groups/mg_list'