.container
  = render partial: 'result_table'
  .col-9.col-md-5.col-lg-4.m-auto.my-2.text-center
    - if user_signed_in?
      = link_to root_path,
        class: "main-btn--orange w-100 mb-2" ,data: { "turbolinks" => false } do
        .btn-text
          %i.fa-solid.fa-house.pe-1.fw-bold
          %span HOME
      #share-link.main-btn--white-orange.w-100.m-auto{ data: { url: @share_link.url } }
        %i.share-link.fa-regular.fa-clipboard
        %span.share-link  共有リンクをコピー
    - else
      = button_to request.path, method: :get, params: { tk: @share_link.token},
        class: "col-8 col-md-5 mb-1 main-btn--white-orange", id: "update_btn" do
        %i.bx.bx-revision.pe-1.text-orange.fw-bold{style: "padding-top: 1px;"}
        更新