.container
  .row.d-flex.justify-content-center
    = render 'shared/flash'
    / ログインしている場合
    - if user_signed_in?
      - provide(:title, "記録")
      - provide(:button_text, '記録')
      .col-lg-7.mx-auto.text-center.text-white.px-5
        = link_to '対局成績入力','players/new', class: "btn d-block rounded fw-bold box-shadow text-white px-3 py-3 fs-6 bg-green"
        // %br/
        // = link_to 'マイグループ対局成績入力','#', class: "btn d-block rounded fw-bold box-shadow text-white px-3 py-3 fs-6 bg-green"
        // %br/
        // = link_to 'マイグループ作成','groups/new', class: "btn d-block rounded fw-bold box-shadow text-white px-3 py-3 fs-6 bg-green"

      / ログインしていない場合
    - else
      - provide(:title, "TOP")
      .col-lg-7.mx-auto.text-center.text-white.h-auto
        %h1.display-4.mt-5 麻雀成績記録サイト
        %p.my-8 いつものメンバーの麻雀成績を記録しよう！
        = link_to 'ユーザー新規登録','/users/sign_up', class: "btn d-block rounded fw-bold box-shadow text-white px-3 py-3 fs-6 bg-green"
        %br/
        = link_to 'ログイン','/users/sign_in', class: "btn d-block rounded fw-bold box-shadow text-white px-3 py-3 fs-6 bg-green"
      %div 
        %h4 使い方
        %ol
          %li ユーザー新規登録
          %li グループ登録する
          %li いつものメンバーを登録する
          %li 成績をつける