.container
  .row.d-flex.justify-content-center
    .col-11.col-md-7.pb-2.mt-4
      .error-contents
        = image_tag 'error.png', alt: 'エラー画像', class: 'img-fluid'
        .d-flex.flex-column.align-items-center
          %h5 サーバーエラーが発生しました
          %ul
            %li 何らかの理由でサーバーが応答していません。
            %li しばらく時間を置いてから再度アクセスしてください。
  .row
    .col-7.col-md-4.col-lg-3.m-auto.my-2
      = link_to root_path,
        class: "main-btn--orange w-100" ,data: { "turbolinks" => false } do
        .btn-text
          %i.fa-solid.fa-house.pe-1.fw-bold
          %span HOME