.container
  .row
    .col-12.text-center.pb-2
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main.mt-4
        .d-flex.align-items-end.text-main
          %h4.text-center.text-md-start.fw-bold.mb-0 アカウント認証
      %p= "#{@token_issued_user_name}からのアカウント認証が完了しました"