.container
  .row
    .col-11.col-md-9.text-center.pb-2
      .page-title
        .d-flex.align-items-end.text-main
          %h4.text-center.text-md-start.fw-bold.mb-0 アカウント認証
      %p= "#{@token_issued_user_name}からのアカウント認証が完了しました"