.container
  .row.justify-content-center
    .col-11.col-md-9.text-center.pb-2
      .page-title
        .d-flex.align-items-end.text-main
          %h4.text-center.text-md-start.fw-bold.text-nowrap.mb-0 プレイヤー選択
          - if @league.present?
            %span.fw-bold.ps-2 #{@league.name}
  = render 'form', action: '決定'