.container
  .row.d-flex.justify-content-center
    = render 'shared/flash'
    .col-12.text-center.pb-2
      %p.w-lg-50.pt-3.fs-3.text-purple プレイヤー選択
      %p 新規プレイヤー登録する場合：プレイヤー名を入力してください
      %p 登録済みでIDを持っている場合：IDを入力してください
  = render 'form', action: '決定'