.container
  .row.justify-content-center
    .col-12.text-center.pb-2
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main.mt-4
        .d-flex.align-items-end.text-main
          %h4.text-center.text-md-start.fw-bold.mb-0 プレイヤー選択
          %span.ps-2 #{@league_name}
  = render 'form', action: '決定'