.container
  .row.d-flex.justify-content-center
    .col-11.col-md-7.text-center.pb-2
      %p.w-lg-50.pt-3.fs-3.text-green チップ集計
    .col-11.col-md-7.text-center.pb-2
      = render 'form', action: '登録'