.container.mb-5
  .row.justify-content-center
    .col-11.col-md-9.text-center.pb-2
      .page-title
        .d-flex.align-items-end.text-main
          - if user_signed_in?
            %h4.text-center.text-md-start.fw-bold.mb-0 チップ集計
          - else
            %h4.text-center.text-md-start.fw-bold.mb-0 チップ結果
  - if @share_token.present?
    = render 'show'
  - else
    = render 'form', action: '登録'