// =============================================================================
// サイト全体で使える変数を管理
// =============================================================================

// 汎用的に使える色
$green: #3FB488; // メインカラー
$orange: #F8B978; //サブカラー
$navyblue: #393944; //テキストカラー

// 部分的に使う色
$light-green: #f2fff2; // 薄い緑、詳細データの背景など
$border-green: #a8dba8; // light-greenよりは濃い緑、borderで使用


// プラス・マイナス
$plus-blue: #1d60cc; // プラス表記の青
$minus-red: #d90d0d; // マイナス表記の赤
