// =============================================================================
// サイト全体で使える変数を管理
// =============================================================================

// 汎用的に使える色
$green: #3FB488; // メインカラー
$orange: #F8B978; //サブカラー
$pink: #FC6C85; //アクセントカラー
$navyblue: #393944;
$gray: #707070;
$white: #ffffff;
$lightgray: #f7f7f7;
$red: #ee5266;
$dark-green: #258f67; // メインより濃い緑

// green系
$dark-green: #32906c; // $greenより+2濃い
$green-5: #ebf7f3; // $ 最も薄いgreen

// 部分的に使う色
$light-green: #EEF7F5; // 薄い緑、詳細データの背景など
$green-2: #65c39f; // メインカラーより2つ薄い
$orange-2: #f7ac60; // サブカラーより少し濃い
$border-green: #89D0B4; // light-greenよりは濃い緑、borderで使用
// $border-orange: #; // light-greenよりは濃い緑、borderで使用

// プラス・マイナス
$plus-blue: #1d60cc; // プラス表記の青
$minus-red: #d90d0d; // マイナス表記の赤

// アラート系
$warning: #FFD723; // ワーニング、黄色

$disabled: #C0C0C0; // 利用不可項目、グレー
