@import 'variable';

::placeholder {
   color: #d3d3d3!important;
}

// エラーメッセージ出力時にレイアウト崩れるの防止
.field_with_errors {
  display: contents;
}

.fs-sm {
  font-size: 0.8rem;
}

// スマホレイアウト
@media (max-width: 480px) {
 body, a {
   font-size: 0.8rem!important;
 }
}

// hoverした時にふわっとさせる
%transition {
  transition: all  0.3s ease;
}

a {
  @extend %transition;
  display: block;
  color:inherit!important;
  text-decoration: none!important;
    &:visited {
    }
    &:hover {
      opacity: 0.8;
      @extend %transition;
    }
}

button, input[type="submit"] {
  @extend %transition;
  &:hover {
    @extend %transition;
    opacity: 0.8;
  }
}

.p-025 {
  padding: 0.25rem!important;
}

.p-none {
  padding: 0px;
}

/*blue*/
.plus-color {
  color: $plus-blue; 
}

/*red*/
.minus-color {
  color: $minus-red;
}


// 仮画像
.temporary_image {
  height: 300px;
  width: 300px;
  background-color: gray;
}


.text-navyblue {
  color: $navyblue;
}

.border-start-green {
  border-left: solid 4px $green;
}

