@import 'variable';
@import 'mixin';

body{
 	display:flex;
  flex-direction:column;
 	min-height: 100vh;
}

footer{
  margin-top: auto;
}

::placeholder {
   color: #d3d3d3!important;
}


// テーブルデータ
td {
  vertical-align: middle; // 垂直方向に中央寄せ
}

// スマホレイアウト
@include smartphone {
  body, a {
    font-size: 0.8rem!important;
  }
}

a {
  @extend %transition;
  display: block;
  color:inherit!important;
  &:hover {
    opacity: 0.8;
    @extend %transition;
  }
  &.hover-underline {
    text-decoration: none!important;
    &:hover {
      text-decoration: underline!important;
    }
  }
}

.btn {
  &:hover {
    opacity: 0.8;
    color: $white!important;
    @extend %transition;
  }
}

button, input[type="submit"] {
  @extend %transition;
  &:hover {
    @extend %transition;
    opacity: 0.8;
  }
}

// 仮画像
.temporary_image {
  height: 300px;
  width: 300px;
  background-color: gray;
}

// ===============================
// ボタン
// ===============================
.main-btn {
  border: solid 1px transparent;
  border-radius: 0.25rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 0px 5px #d6d8f5;
  text-decoration: none;
  text-align: center;
  @include smartphone {
    padding: 0.5rem 1.2rem;
  }
  
  &--orange {
    @extend .main-btn;
    color: $white!important;
    background-color: $orange;
  }
  &--green {
    @extend .main-btn;
    color: $white!important;
    background-color: $green;
  }
  &--white {
    @extend .main-btn;
    background-color: $white;
    &-orange { 
      @extend .main-btn--white;
      border: 2px solid $orange;
      color: $orange-2!important;
      &-sm {
        @extend .main-btn--white-orange;
        font-size: 0.9rem;
        padding: 0.4rem;
      }
    }
    &-green {
      @extend .main-btn--white;
      border: 2px solid $green-2;
      color: $green!important;
      &-sm {
        @extend .main-btn--white-green;
        font-size: 0.9rem;
        padding: 0.4rem;
      }
    }
    &-red {
      @extend .main-btn--white;
      border: 2px solid $red;
      color: $red!important;
    }
  }
  &--red {
    @extend .main-btn;
    background-color: $red;
    &-white {
      @extend .main-btn--red;
      border: 2px solid $red;
      color: $white!important;
    }

  }
  
}

.inactive {
  opacity: 0.6!important;
}
// ===============================
// バリデーションエラーMSG
// ===============================
.validation-alert{
  border: 2px solid #ff7587!important; /* light-red */
  border-radius: 0.25rem;
  color: #ee5266; /* red */
  padding: 0.1rem 0.7rem 0.5rem 0.7rem;
  font-weight: bold;
  font-size: 0.7rem;
}

// エラーメッセージ出力時にレイアウト崩れるの防止
.field_with_errors {
  display: contents;
}

// ===============================
// レイアウト・サイズ
// ===============================

.p-025 {
  padding: 0.25rem!important;
}

.p-none {
  padding: 0px;
}

// ===============================
// アイコン画像
// ===============================
.body-icon {
  width: 80px; /* 親要素の幅 */
  height: 80px; /* 親要素の高さ */
  overflow: hidden; /* 親要素外のコンテンツを隠す */
  
  img {
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: 100%; /* 画像の高さを親要素に合わせる */
    object-fit: cover; /* 画像を切り取って親要素にフィットさせる */
  }
}

.header-icon {
  width: 40px; /* 親要素の幅 */
  height: 40px; /* 親要素の高さ */
  overflow: hidden; /* 親要素外のコンテンツを隠す */
  
  img {
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: 100%; /* 画像の高さを親要素に合わせる */
    object-fit: cover; /* 画像を切り取って親要素にフィットさせる */
  }
}

// ===============================
// ボーダー
// ===============================
// グリーン枠線
.border-green {
  border-color: $green!important;
  &-thin {
    @extend .border-green;
    border: 0.8px solid;
    &_bottom {
      @extend .border-green;
      border-bottom: 0.8px solid; 
    }
  }
  &-bold {
    @extend .border-green;
    border: 1.2px solid!important;
  }
  &-btn {
    @extend .border-green;
    border: 2px solid!important;
    &:hover {
      opacity: 0.8;
      color: $green!important;
      @extend %transition;
    }
  }
  &-left {
    border-left: solid 4px $green;
    &-table { // 左枠線 成績表タイトル
      @extend .border-green;
      border-left: 4px solid;
      padding-left: 0.4rem;
      margin-bottom: 0.5rem;
    }
  }
  &-bottom {
    border-bottom: solid 4px $green;
    
    &-title_main{ // ページタイトル
      @extend .border-green;
      border-bottom: 3px solid; 
      padding-left: 0.75rem!important;
      padding-bottom: 0.25rem;
      margin-bottom: 0.5rem;
    }
  }
}

// オレンジ枠線
.border-orange {
  border-color: $orange!important;
  &-thin {
    @extend .border-orange;
    border: 0.8px solid;  
  }
  &-bold {
    @extend .border-orange;
    border: 1.2px solid;
  }
  &-btn {
    @extend .border-orange;
    border-width: 2px!important;
    color: $orange!important;
    &:hover {
      opacity: 0.8;
      color: $orange!important;
      @extend %transition;
    }
  }
}

// グレー枠線
.border-lightgray {
  border: 0.8px solid;
  border-color: #d3d3d3;
}

// ===============================
/* アニメーション*/
// ===============================

/* その場で */
.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// hoverした時にふわっとさせる
%transition {
  transition: all  0.3s ease;
}

// ===============================
// background 
// ===============================

.bg {
  &-green {
    background-color: $green!important;
  }
  &-light-green {
    background-color: $light-green;
  }
  &-orange {
    background-color: $orange!important;
  }
  &-lightgray {
    background-color: $lightgray!important;
  }
  &-gray {
    background-color: #dcdcdc!important;
  }
  &-delete-color {
    background-color: #a9a9a9!important;
  }
  // 変更不可項目のbackgroundカラー
  // jsでクラスを追加して利用している
  &-disabled {
    background-color: $disabled!important;
  }
}



// ===============================
// ページタイトル（共通）
// ===============================
.page-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.5rem!important;
  @extend .border-green-bottom-title_main;
}

// ===============================
// テキストカラー
// ===============================
.text{
  &-main {
    color: $gray!important;
  }
  &-green {
    color: $green!important;
  }
  &-orange {
    color: $orange!important;
  }
  &-pink {
    color: #FC6C85!important;
  }
  &-gray {
    color: #808080!important;
  }
  &-navyblue {
    color: $navyblue;
  }
  &-minus {
    color: $minus-red;
  }
  &-plus {
    color: $plus-blue;
  }
  &-warning {
    color: $warning;
  }
  
}

// ===============================
// フォントサイズ
// ===============================
.fs{
  &-sm {
    font-size: 0.8rem!important;
    @include smartphone {
      font-size: 0.6rem!important;
    }
  }
  &-table {
    a {
      font-size: 0.8rem!important;
      @include smartphone {
        font-size: 0.5rem!important;
      }
    }
    font-size: 0.8rem!important;
    @include smartphone {
      font-size: 0.5rem!important;
    }
  }
}

// ===============================
// フォーム
// ===============================
/* 項目名 */
.title-p {
  border-left: 4px solid $green;
  padding-left: 0.4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/*必須項目*/
.p_required {
  color: $green; 
  font-weight: bold;
  padding-left: 5px;
  font-size: 0.7rem;
}
/*フォーム注意文(赤)*/
.p_warning {
  color: $red; 
  font-size: 0.8rem;
  @include smartphone {
    font-size: 0.5rem!important;
  }
  padding-left: 10px;
}

// ===============================
// boxicon
// ===============================
.bx-size {
  font-size: 1.2rem!important;
  @include smartphone {
    font-size: 0.8rem!important;
  }
}
