// フラッシュメッセージのコンテナのスタイル
@import 'variable';

.flash {
  display: flex;
  text-align: center;
  justify-content: space-between;
  position: fixed;
  top: 7px;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
  padding: 10px 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);
  z-index: 9999;
  transition: top 1.0s;
  height: auto; /* 自動で高さを調整 */
  max-width: 600px; /* 最大幅を設定 */
  word-wrap: break-word; /* 長い単語を折り返す */
  /* スマホレイアウト */
  @media (max-width: 480px) {
    padding: 12px 4px;
    font-size: 12px;
    max-width: 460px; /* 最大幅を設定 */
    width: 80%;
  }
}

// 成功時とエラー時のスタイル
.f-notice {
  border: 2px solid $flash-green; /* light-green */
  border-radius: 15px;
  color: #17bc5f!important; /* green */
}

.f-alert {
  border: 2px solid $flash-red!important; /* light-red */
  border-radius: 15px;
  color: #ee5266!important; /* red */
}

// ×ボタン
.close-flash {
  border: none;
  background-color: $white;
  color: inherit;
}

.hide-close-flash {
  border: none;
  background-color: $white;
  color: $white;
}