@import 'variable';


header {
	border-bottom: 1px solid #c8c7cc; // ライトグレー
}

/*==================================================
　5-2-6 3本線が回転して×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
// 	position: relative;
	position: fixed;
	z-index: 9999;
	background:$green;
	cursor: pointer;
  width: 40px;
  height:40px;
	border-radius: 10px;
	box-shadow: 4px 8px 24px rgba(0,0,0,.15);
}

/*ボタン内側*/
.openbtn span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 11px;
  height: 3px;
  border-radius: 2px;
	background: #fff;
}

.openbtn span:nth-of-type(1) {
	top:11px;	
	width: 45%;
}

.openbtn span:nth-of-type(2) {
	top:19px;
	width: 35%;
}

.openbtn span:nth-of-type(3) {
	top:27px;
	width: 20%;
}

/*activeクラスが付与されると線が回転して×になる*/

.openbtn.active span:nth-of-type(1) {
  top: 13px;
  left: 14px;
  transform: translateY(6px) rotate(-135deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 25px;
  left: 14px;
  transform: translateY(-6px) rotate(135deg);
  width: 30%;
}

// ======================================================
/*========= ナビゲーションのためのCSS ===============*/
// ======================================================

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:0;
  right: -120%;
  width:100%;
  height: 100vh;/*ナビの高さ*/
  background: $green;
  opacity: 0.95;
  /*動き*/
  transition: all 0.8s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
  text-align: center;
}

#g-nav li a{
	color: $white!important;
	text-decoration: none;
	padding:15px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

#g-nav li .nav-icon {
  width: 60px; /* 親要素の幅 */
  height: 60px; /* 親要素の高さ */
  overflow: hidden; /* 親要素外のコンテンツを隠す */
  margin: 0 auto;

  img{
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: 100%; /* 画像の高さを親要素に合わせる */
    object-fit: cover; /* 画像を切り取って親要素にフィットさせる */
  }
}

// =================================================================
/*========= ナビゲーションドロップダウンのためのCSS ===============*/
// =================================================================

/*==ナビゲーション全体の設定*/
#dropdown-nav{
	// background:#333;
	color: $gray;
	font-weight: bold;
	text-align: center;
}
  
/*ナビゲーションを横並びに*/
#dropdown-nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}

/*2階層目以降は横並びにしない*/
#dropdown-nav ul ul{
	display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
#dropdown-nav ul li{
	position: relative;
}

/*ナビゲーションのリンク設定*/
#dropdown-nav ul li a{
	display: block;
	text-decoration: none;
	color: #333;
	padding:20px 35px;
	transition:all .3s;
}

#dropdown-nav ul li li a{
	padding:10px 35px;
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
#dropdown-nav ul li.has-child::before{
	content:'';
	position: absolute;
	left:15px;
	top:29px;
	width:6px;
	height:6px;
	border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*== 2階層目の共通設定 */

/*下の階層を持っているulの指定*/
#dropdown-nav li.has-child ul{
    /*絶対配置で位置を指定*/
	position: absolute;
	left: -25px;
	top: 65px;
	z-index: 3;
    /*形状を指定*/
	background: $white;
	width:180px;
	padding-left: 0px;
    /*はじめは非表示*/
	visibility: hidden;
	opacity: 0;
    /*アニメーション設定*/
	transition: all .3s;
	box-shadow: 4px 8px 24px rgba(0,0,0,.15);
}

/*hoverしたら表示*/
#dropdown-nav li.has-child:hover > ul,
#dropdown-nav li.has-child ul li:hover > ul,
#dropdown-nav li.has-child:active > ul,
#dropdown-nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
#dropdown-nav li.has-child ul li a{
	color: #fff;
	border-bottom:solid 1px rgba(255,255,255,0.6);
}

#dropdown-nav li.has-child ul li:last-child a{
	border-bottom:none;
}

#dropdown-nav li.has-child ul li a:hover,
#dropdown-nav li.has-child ul li a:active{
	color: $green!important;
}