// ===============================
// リーグ対局一覧画面
// ===============================
#league_match_list {
  .w {
    &-no {
      width: 8%;
    }
    &-date{
      width: 10%;
    } 
    &-players{
      width: 74%;
      &-name {
        width: 18%;
      }
    }  
    &-icon{
      width: 8%;
    }  
  }
}