@import 'variable';


// ===============================
// リーグ対局一覧画面
// ===============================
#league_match_list {
  tr {
    &:hover {
      background-color: $green-5;
    }
    cursor: pointer;
  }
  .w {
    &-no {
      width: 8%;
    }
    &-date{
      width: 10%;
    } 
    &-players{
      width: 74%;
      &-name {
        width: 18%;
      }
    }  
    &-icon{
      width: 8%;
    }  
  }
}