@import 'variable';

// ===============================
// リーグ一覧
// ===============================
.league_item {
  &-center {
    max-width: 120px;
  }
}

// ===============================
// リーグ対局一覧画面
// ===============================
#league_match_list {
  tr {
    &:hover {
      background-color: $green-5;
    }
    cursor: pointer;
  }
  .w {
    &-no {
      width: 8%;
    }
    &-date{
      width: 10%;
    }
    &-players{
      width: 74%;
      &-name {
        width: 18%;
      }
    }
    &-icon{
      width: 8%;
    }
  }
}

// ===============================
// リーグ作成画面
// ===============================
#modal-icon-league {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}