// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// match-viewにのみ関係するcssを記述
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★

// ===============================
// 対局一覧画面
// ===============================

.w {
  &-sanyonma, &-show {
    width: 5%;
  }
  &-date{
    width: 10%;
  }  
  &-players{
    width: 60%;
    &-name {
      width: 15%;
    }
  }  
  &-rule{
    width: 20%;
  }  
}

// ===============================
// 対局詳細画面　- 対局成績表
// ===============================
.result_table {
  table-layout: fixed;
  .w {
    &-no {
      width: 8%;
    }
    &-name{
      width: 22%;
    }
    &-edit{
      width: 8%;
    }
  }  
}
