// 成績表
@import 'variable';
@import 'mixin';

// ===============================
// 成績表一覧
// ===============================
.match-groups-list {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #ddd; // 例として、グレーのボーダーを追加
  border-radius: 0.25rem;
  margin: 0 auto 0.5rem auto;
  position: relative;
  padding: 0.5rem;
  text-decoration: none; // リンクのアンダーラインを取り除く
  color: inherit; // リンクの色を継承する
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;

  .left-side {
    margin-top: 0.4rem;
    padding: 0rem 0.8rem;
    text-align: center;
    @include smartphone {
      padding-left: 0.5rem;
    }
    img {
      margin-left: 0.2rem;
      height: 25px;
      width: 25px;
    }
    .match-date {
      font-size: 0.8rem;
      margin: 0.2rem 0rem 0rem 0rem;
    }
    .match_number {
      font-size: 0.7rem;
      margin: 0rem;
    }
  }
  .center {
    border-left: 1px solid #ddd;
    padding-left: 0.5rem;
    margin-bottom: 0;
    .player-item {
      display: flex;
      align-items: center;
      .player-name {
        margin-bottom: 0;
        padding-left: 0.2rem;
        font-size: 0.7rem;
        font-weight: bold;
      }
      i {
        font-size: 0.7rem;
        padding-bottom: 1px;
        opacity: 0.8;
      }
    }
  }
  .right-side {
    text-align: center;
    padding-left: 0.5rem;
    @include desktop {
      padding-left: 2rem;
    }
    text-align: left;
    flex-grow: 1; // 可変幅を設定
    .rule-info,
    .league-info {
      font-size: 0.7rem;
      .fa-solid {
        opacity: 0.8!important;
      }
      .fa-file-pen {
        padding-left: 1px;
      }
    }
  }
  .arrow {
    @include smartphone {
      display: none;
    }
    font-size: 0.9rem;
    opacity: 0.8;
    margin-right: 0.4rem;

  }
}


// ===============================
// 対局成績表 - 詳細
// ===============================

$bg: #ebf7f3;
$border: #52bb93;

.result_table {
  table-layout: fixed;
  margin-bottom: 0px!important;

  thead {
    th {
      background-color: $bg;
    }
  }

  .w {
    vertical-align: middle; // 上下中央寄せ
    padding: 0.5rem 0.1rem!important;
    font-size: 0.8rem;
    &-no {
      @extend .w;
      width: 8%;
    }
    &-name{
      @extend .w;
      width: 21%;
      font-weight: bold;
    }
    &-edit , &-delete{
      @extend .w;
      width: 6%;
    }
  }

  .sum {
    td {
      background-color: $bg;
    }
  }
}

.score-card {
  background-color: #fefefd; // 薄いベージュ色
  opacity: 0.8;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 5px;
  margin-bottom: 0.6rem;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    color: $gray;
    &-title {
      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.1rem;
      margin-bottom: 0px;
    }

    &-day {
      text-align: end;
    }

    &-left {
      opacity: 0;
    }

    &-center {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-left: 0.2rem;
        height: 17px;
        width: 17px;
      }
    }

    &-right {
      margin-right: 0.2rem;
      color: $gray;
    }
  }
}
