// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// player-viewにのみ関係するcssを記述
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★

@import 'variable';
@import 'mixin';

// ===============================
// プレイヤー詳細画面
// ===============================

.w {
  &-rank {
    width: 5%;
  }
  &-ie {
    width: 10%;
  }
  &-name {
    width: 65%;
  }
  &-time {
    width: 30%;
  }
}

// 総対戦数・総合pt・平均順位・連対率
.main-results {
  &__line {
    position: relative;
  }
  &__item{
    @include tablet {
      position: absolute;
    }

    &-1, &-3 {
      @extend .main-results__item;
      @include tablet {
        left: 20%;
      }
      @include smartphone {
        left: 15%;
      }
    }
    &-2, &-4 {
      @extend .main-results__item;
      @include tablet {
        left: 50%;
      }
    }
  }
  &__hide {
    opacity: 0;
    @include desktop {
      display: none;
    }
  }
}

// ===============================
// プレイヤー選択画面
// ===============================

.players_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 0;
  &-item {
    width: 48%;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 0.25rem;
    margin: 0.1rem 0.1rem 0.1rem 0.25rem;
    text-align: center;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    cursor: pointer;
    &:hover {
      background-color: $green-5;
    }
  }
}

.selected_players {
  margin-bottom: 1.25rem;
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.4rem 0.9rem;
    margin-bottom: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  }
  i {
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      color: $orange;
    }
  }
}

// ===============================
// 招待一覧画面
// ===============================
.invite_list {
  td {
    a {
      max-width: 100px;
    }
  }
}