// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// player-viewにのみ関係するcssを記述
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★

// ===============================
// プレイヤー詳細画面
// ===============================

.w {
  &-rank {
    width: 5%;
  }
  &-ie {
    width: 10%;
  }
  &-name {
    width: 65%;
  }
  &-time {
    width: 30%;
  }
}
