// Place all the styles related to the rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variable';
@import 'mixin';

.rule-card {
  border-radius: 10px; // 角丸
  background-color: #fefefd; // 薄いベージュ色
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  &-body {
    padding: 20px 10px;
    &-detail {
      display: flex;
      justify-content: center;
    }
    &-left, &-right {
      padding: 0rem 0.7rem;
    }
  }

  &-top {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 0.5rem;
  }

  &-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #3FB488; // タイトルの色
    margin-bottom: 0px;
  }

  &-text {
    display: flex;
    margin-bottom: 0px;
    color: $gray;
    text-align: left;
    font-size: 1rem;
    @include smartphone {
      font-size: 0.8rem!important;
    }

    p {
      margin-bottom: 0px;
      padding-left: 0.2rem;
      font-weight: bold;
    }
  }

  .btn {
    margin-top: 10px;
  }
}

