.col-12.text-center.pb-2
  %p.w-lg-50.pt-3.fs-3.text-green プレイヤー
  
  .d-flex.justify-content-center
    %table.border.col-10.col-md-6
      %tr.border
        %th.border.px-2 ID
        %th.border プレイヤー
      - session[:players].each do |player|
        %tr.border
          %td.border= player["id"]
          %td.border= player["name"]