.container
  .row.d-flex.justify-content-center.text-main
    .col-11.col-md-9.text-center.pb-2
      .page-title
        .d-flex.align-items-end
          %h4.text-center.text-md-start.fw-bold.mb-0 ルール一覧
  .row.justify-content-center
    .col-11.col-md-7.col-lg-6.text-center.pb-2
      = render partial: 'rule', locals: { play_type: 4 }
      = render partial: 'rule', locals: { play_type: 3 }
  .row
    .col-8.col-md-5.col-lg-3.m-auto
      = link_to new_player_rule_path(btn: 'index'), class: "main-btn--orange mb-3" do
        .btn-text
          %i.fa-solid.fa-pen.pe-1.fw-bold
          %span ルール登録