.container
  .row.justify-content-center
    .col-11.col-md-9.text-center.pb-2
      .page-title
        .d-flex.align-items-end.text-main
          %h4.text-center.text-md-start.fw-bold.mb-0 ルール登録
    .col-10.col-md-8
      .info.py-2.mb-3.text-center
        .d-flex.align-items-center.justify-content-center
          %i.bx.bxs-info-circle.pe-2.text-pink{style: "padding-top: 1px;"}
          %p.mb-0.text-main.fs-sm.fw-bold 登録したルールは成績入力時に選択できるようになります
    = render 'form', action: '登録'