<footer class="footer bg-dark">
  <div class="container py-3  text-center">
    <small class="text-white">
      <i class='bx bxl-baidu color-white'>  
        <p class="my-0">Yusuke Sakamoto</p>
      </i>
    </small>
  </div>
</footer>