- flash.each do |key, value|
  %div{:class => "flash f-#{key}"}
    %button.hide-close-flash{type: "button"} 
      %i.fa-regular.fa-circle-xmark
    %p.mb-0= value
    %button.close-flash{type: "button"} 
      %i.fa-regular.fa-circle-xmark