- if instance.errors.any?
  %ul.validation-alert.text-center
    %h3
    - instance.errors.full_messages.each do |msg|
      .d-flex.align-items-center
        %i.bx.bx-error-alt.pe-1
        %li.list-unstyled
          = msg